/* @font-face {
    font-family: Fredoka;
    src:  url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
} */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    font-family: Fredoka 
}

.Head{
    background-color: #ffd600 !important;
}
.MintBtn{
    background-color: black;
    color: white;
}
.MintBtn:hover{
    background-color: white;
    color: black;
}

html{
    scroll-behavior: smooth;
}

.top{
    color: black;
}

@media only screen and (max-width: 600px) {
   
.DivB{
    /* padding: 0px !important;    */
}
  }
.DivC{
    background-color: #ffd600;
}
@media only screen and (max-width: 600px) {
   
    .DivC{
        padding: 0px !important;   
    }
      }
.ImgGig{
    border: 2px solid black;
    border-radius: 10px;
}
.Faq{
    border: 3px solid black;
    border-radius: 20px;
}
.Dot{
    font-size: 60px;
    line-height: 50px;
}
.Line{
    background-color: black;
    width: 100% !important;
}
.DotBG{
    background-color: #ffbf23;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.ImgSquad{
    border-radius: 100%;
}

















 a {
	 text-decoration: none;
	 outline: none;
	 color: #333;
}
 li {
	 list-style: none;
}
 @keyframes hover {
	 50% {
		 transform: translateX(10px);
	}
}
 .offcanvas-menu > label {
	 top: 30px;
	 left: 30px;
	 position: fixed;
	 width: 40px;
	 height: 40px;
	 cursor: pointer;
	 transition: 0.3s ease;
	 display: flex;
	 align-items: center;
	 z-index: 9999;
}
 .offcanvas-menu label span, .offcanvas-menu label span::before, .offcanvas-menu label span::after {
	 transition: background 0.3s, transform 0.3s;
}
 .offcanvas-menu label span, .offcanvas-menu label span::before, .offcanvas-menu label span::after {
	 content: "";
	 position: absolute;
	 height: 4px;
	 width: 40px;
	 background: black;
}
 .offcanvas-menu label span::before {
	 transform: translateY(-12px);
}
 .offcanvas-menu label span::after {
	 transform: translateY(12px);
}
 .offcanvas-menu nav {
	 position: fixed;
	 height: 100%;
	 width: 350px;
	 left: -350px;
	 overflow: hidden;
	 background:#ffd600;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	 transition: 0.3s ease;
	 padding: 40px 30px;
     z-index: 200;
}
.LI li a{
    /* color: wh !important; */
    font-size: x-large !important;
    
}
 .offcanvas-menu nav > div {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .offcanvas-menu nav > div a {
	 font-size: 2.5rem;
	 font-weight: 500;
	 display: flex;
	 align-items: center;
     color: white !important;
	 /* font-family: "Monoton", cursive; */
	 background: linear-gradient(-90deg, #49a4ed 30%, #3d00a9 110%);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
.Head{
    color: white !important;
}
 .offcanvas-menu nav > div a i {
	 font-size: 4rem;
	 background: linear-gradient(120deg, #49a4ed 30%, #3d00a9 110%);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
 .offcanvas-menu nav > div label {
	 width: 30px;
	 height: 30px;
	 display: flex !important;
	 align-items: center;
	 justify-content: center;
	 cursor: pointer;
	 transition: 0.3s ease;
}
 .offcanvas-menu nav > div label span, .offcanvas-menu nav > div label span:before, .offcanvas-menu nav > div label span:after {
	 background: #4d4d4d;
}
 .offcanvas-menu nav > ul {
	 margin-top: 30px;
	 counter-reset: nav-link-count;
}
 .offcanvas-menu nav > ul li {
	 cursor: pointer;
	 padding: 10px 0;
	 transform: translateX(-30px);
	 opacity: 0;
	 transition: 0.4s ease;
	 counter-increment: nav-link-count;
}
 .offcanvas-menu nav > ul li a {
	 font-size: 2.5rem;
	 line-height: 1.5;
	 font-weight: 400;
	 color: #333;
	 display: block;
}
 .offcanvas-menu nav > ul li:hover {
	 animation: hover 0.5s;
}
 .offcanvas-menu input[type="checkbox"] {
	 display: none;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ label {
	 opacity: 0;
	 pointer-events: none;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav {
	 left: 0;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav label span {
	 background: transparent;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before {
	 transform: rotate(-45deg);
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
	 transform: rotate(45deg);
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before, .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
	 transition-delay: 0.2s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li {
	 opacity: 1;
	 transform: translateX(0px);
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(1) {
	 transition-delay: 0.1s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(2) {
	 transition-delay: 0.2s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(3) {
	 transition-delay: 0.3s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(4) {
	 transition-delay: 0.4s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(5) {
	 transition-delay: 0.5s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(6) {
	 transition-delay: 0.6s;
}
 .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(7) {
	 transition-delay: 0.7s;
}
 section {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 80vh;
	 font-size: 4rem;
	 color: #b3b3b3;
}
 section:nth-child(odd) {
	 background: #120a21;
}
 section:nth-child(even) {
	 background: #170d28;
}
 footer {
	 padding: 20px 0;
	 text-align: center;
	 font-size: 1.5rem;
	 background: #ffd600;
	 color: black;
}
 footer a {
	 color: black;
}
 